@import url(//fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .main-header .logo {
    font-family: 'Droid Arabic Naskh', serif;
}

.content-wrapper, .right-side, .main-footer {
    margin-right: 230px;
    margin-left: 0;
}

.main-sidebar, .left-side {
    right: 0;
    left: auto;
}

.sidebar-menu > li > a {
    padding: 12px 15px 12px 15px;
    display: block;
}

.main-header .sidebar-toggle {
    float: right;
}

.content-header > .breadcrumb {
    float: left !important;
    right: auto;
    left: 10px;
}

.main-header .logo {
    float: right;
}

.main-header > .navbar {
    margin-right: 230px;
    margin-left: auto;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
    float: left;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    left: 0;
    right: auto;
}

.small-box .icon, .box-header > .box-tools {
    left: 10px;
    right: auto;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: static !important;
    margin-right: 0;
    margin-left: 10px;
}

.skin-blue .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    border-right-color: #3c8dbc;
}

.skin-blue-light .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-blue-light .sidebar-menu > li:hover > a, .skin-blue-light .sidebar-menu > li.active > a {
    border-right-color: #3c8dbc;
}

.skin-yellow .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-yellow .sidebar-menu > li:hover > a, .skin-yellow .sidebar-menu > li.active > a {
    border-right-color: #f39c12;
}

.skin-yellow-light .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-yellow-light .sidebar-menu > li:hover > a, .skin-yellow-light .sidebar-menu > li.active > a {
    border-right-color: #f39c12;
}

.skin-green .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-green .sidebar-menu > li:hover > a, .skin-green .sidebar-menu > li.active > a {
    border-right-color: #00a65a;
}

.skin-green-light .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-green-light .sidebar-menu > li:hover > a, .skin-green-light .sidebar-menu > li.active > a {
    border-right-color: #00a65a;
}

.skin-purple .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-purple .sidebar-menu > li:hover > a, .skin-purple .sidebar-menu > li.active > a {
    border-right-color: #605ca8;
}

.skin-purple-light .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-purple-light .sidebar-menu > li:hover > a, .skin-purple-light .sidebar-menu > li.active > a {
    border-right-color: #605ca8;
}

.skin-red .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-red .sidebar-menu > li:hover > a, .skin-red .sidebar-menu > li.active > a {
    border-right-color: #dd4b39;
}

.skin-red-light .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-red-light .sidebar-menu > li:hover > a, .skin-red-light .sidebar-menu > li.active > a {
    border-right-color: #dd4b39;
}

.skin-black .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-black .sidebar-menu > li:hover > a, .skin-black .sidebar-menu > li.active > a {
    border-right-color: #fff;
}

.skin-black-light .sidebar-menu > li > a {
    border-right: 3px solid transparent;
    border-left: none !important;
}

.skin-black-light .sidebar-menu > li:hover > a, .skin-black-light .sidebar-menu > li.active > a {
    border-right-color: #fff;
}
