.select2-dropdown {z-index: 9999 !important}

.bootstrap-timepicker-minute,.bootstrap-timepicker-hour,.bootstrap-timepicker-meridian,.bootstrap-timepicker-second {
	width:50px !important;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}	

.datepicker{z-index:1151 !important;}

.sidebar-menu .treeview-menu>li>a {
	padding:5px 5px 5px 25px;
}
.form-tab li a:hover {
	background: #eeeeee !important;
}
.form-tab li a.selected {
	background: #3c8dbc !important;
	color:#ffffff !important;
}
.alert_floating {
	bottom:10px;
	right:10px;
	position: fixed;
	z-index:1001;
	background: rgba(255, 140, 127, 0.7);
	color:#222222;
	font-weight: bold;
	padding:20px 50px 20px 50px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #aaaaaa;
}

#table_dashboard {
	font-size: 12px;
}



.login-box-body {
	box-shadow: 0px 0px 25px #999999;
}

/*
 * Skin: Custom
 * ----------
 */
 .custom-skin .main-header .navbar {
    background-color: #000032;
  }
  .custom-skin .main-header .navbar .nav > li > a {
    color: #ffffff;
  }
  .custom-skin .main-header .navbar .nav > li > a:hover,
  .custom-skin .main-header .navbar .nav > li > a:active,
  .custom-skin .main-header .navbar .nav > li > a:focus,
  .custom-skin .main-header .navbar .nav .open > a,
  .custom-skin .main-header .navbar .nav .open > a:hover,
  .custom-skin .main-header .navbar .nav .open > a:focus,
  .custom-skin .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
  }
  .custom-skin .main-header .navbar .sidebar-toggle {
    color: #ffffff;
  }
  .custom-skin .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
  }
  .custom-skin .main-header .navbar .sidebar-toggle {
    color: #fff;
  }
  .custom-skin .main-header .navbar .sidebar-toggle:hover {
    background-color: #000032;
  }
  @media (max-width: 767px) {
    .custom-skin .main-header .navbar .dropdown-menu li.divider {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .custom-skin .main-header .navbar .dropdown-menu li a {
      color: #fff;
    }
    .custom-skin .main-header .navbar .dropdown-menu li a:hover {
      background: #000032;
    }
  }
  .custom-skin .main-header .logo {
    background-color: #000032;
    color: #ffffff;
    border-bottom: 0 solid transparent;
  }
  .custom-skin .main-header .logo:hover {
    background-color: #357ca5;
  }
  .custom-skin .main-header li.user-header {
    background-color:  #000032;
  }
  .custom-skin .content-header {
    /*background-color: #0089ff;*/
    padding-bottom:15px;
  }
  .custom-skin .content-header>.breadcrumb {
    background-color: white;
    border-radius: 5px;
  }
  .custom-skin .wrapper,
  .custom-skin .main-sidebar,
  .custom-skin .left-side {
    background-color: #000032;
  }
  .custom-skin .user-panel > .info,
  .custom-skin .user-panel > .info > a {
    color: #fff;
  }
  .custom-skin .sidebar-menu > li.header {
    color: #4b646f;
    background: #000032;
  }
  .custom-skin .sidebar-menu > li > a {
    border-left: 3px solid transparent;
  }
  .custom-skin .sidebar-menu > li:hover > a,
  .custom-skin .sidebar-menu > li.active > a,
  .custom-skin .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    background: #4070FA;
  }
  .custom-skin .sidebar-menu > li.active > a {
    border-left-color: #3c8dbc;
  }
  .custom-skin .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
  }
  .custom-skin .sidebar a {
    color: #b8c7ce;
  }
  .custom-skin .sidebar a:hover {
    text-decoration: none;
  }
  .custom-skin .sidebar-menu .treeview-menu > li > a {
    color: #8aa4af;
  }
  .custom-skin .sidebar-menu .treeview-menu > li.active > a,
  .custom-skin .sidebar-menu .treeview-menu > li > a:hover {
    color: #ffffff;
  }
  .custom-skin .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
  }
  .custom-skin .sidebar-form input[type="text"],
  .custom-skin .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
  }
  .custom-skin .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
  }
  .custom-skin .sidebar-form input[type="text"]:focus,
  .custom-skin .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
  }
  .custom-skin .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
  }
  .custom-skin .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
  }
  .custom-skin.layout-top-nav .main-header > .logo {
    background-color: #3c8dbc;
    color: #ffffff;
    border-bottom: 0 solid transparent;
  }
  .custom-skin.layout-top-nav .main-header > .logo:hover {
    background-color: #3b8ab8;
  }
  .custom-skin .content-wrapper, .right-side {
    min-height: 100%;
    background-color: #f5f5f5;
    z-index: 800;
  }
  .custom-skin .box{
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.10);
    border-top:none;border-radius: 6px;
  }

  .custom-skin .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color:#fff;
  }

  .custom-skin .table>thead>tr>th>a{
    color: #4070FA;
  }

  .custom-skin .btn-primary {
    background-color:  #4070FA;
    border-color:  #4070FA;
  }
  .custom-skin .small-box{
    border-radius:6px;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.10);
  }
  .custom-skin .bg-red{
    background-color:#fa405a !important;  
  }
  .custom-skin .bg-green{
    background-color:#1bb744 !important;
  }
  .custom-skin .bg-aqua{
   background-color:#4070FA !important;
  }
  .custom-skin .bg-blue{
    background-color:#3908ce !important;
  }
  .custom-skin .bg-yellow{
    background-color: #ffbc00 !important;
  }
  .custom-skin .bg-purple{
    background-color: #9e40e6 !important;
  }
  .custom-skin .box .no-padding{
    padding:15px !important;
  }
  .custom-skin .panel-default>.panel-heading {
    color:  #ffffff;
    background-color:#2a1ba9;
    border-color: #ddd;
    font-size: 1.2em;
  }
  .custom-skin .panel-default {
    border-radius:6px;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.10);
    border:none;
  }