	#table-module thead tr th {
		border: 1px solid #cccccc;
		white-space: nowrap;
        font-size: 12px;
	}
	#table-module tbody tr td {
		border: 1px solid #cccccc;
        font-size: 12px;
	}
	.select2-container--default .select2-selection--single {border-radius: 0px !important; border: 1px solid #dddddd !important;}
	.select2-container .select2-selection--single {height: 35px !important;}
	.select2 {
		width: 100%;
	}
	.select2-dropdown {z-index: 9999 !important}

	.bootstrap-timepicker-minute,.bootstrap-timepicker-hour,.bootstrap-timepicker-meridian,.bootstrap-timepicker-second {
		width:50px !important;
	}

	::-webkit-scrollbar {
	    width: 7px;
	}

	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	::-webkit-scrollbar-thumb {
	    background: #dddddd;
	}	

	.datepicker{z-index:1151 !important;}

	.btn-group-action .btn-action {
		cursor: default
	}

	.form-group > label:first-child {
		display: block
	}

    /* Custom Alert Color */
    .bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
        background-color: #c2f3ff !important;
    }
    .bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
        background-color: #b2f7b7 !important;
    }
    .bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
        background-color: #ffda9f !important;
    }

    .callout.callout-info {
        border-color: #a7dfff;
        color: #0c76b3 !important;
    }
    .callout.callout-info a {
        color: #0c76b3 !important;
        font-weight: bold;
    }

    .callout.callout-success {
        border-color: #aee0c9;
        color: #236738 !important;
    }

    .callout.callout-success a {
        font-weight: bold;
        color: #236738 !important;
    }

    .callout.callout-warning {
        border-color: #e0c277;
        color: #bd8224 !important;
    }

    .callout.callout-warning a {
        font-weight: bold;
        color: #bd7138 !important;
    }

    .mt-10 {
        margin-top: 10px;
    }
    .mt-20 {
        margin-top: 20px;
    }
    .mt-30 {
        margin-top: 30px;
    }
    .mt-40 {
        margin-top: 40px;
    }

    /* Background Gradient */
    .gray-gradient {
        background: #eeeeee;
        background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
        background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
        background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    }